{% extends "base.html" %}

{% block scripts %}
  {{ super() }}

  <template id="livecode-template">
    <div class="livecode-editor">
      <div class="controls">
        <button class="run">Run</button>
      </div>
      <div class="code-editor">
        <div class="code-wrapper">
          <textarea class="code"></textarea>
        </div>
        <div class="output-wrapper">
          <pre class="output"></pre>
        </div>
      </div>
    </div>
  </template>

  <script type="text/javascript">
    var livecode = {
      buttons: [],
      runtimes: {},
      addRunButton(options) {
        this.buttons.push(options);
      },

      getRuntime(lang) {
        return lang in this.runtimes? this.runtimes[lang]: lang;
      },

      setRuntime(lang, runtime) {
        this.runtimes[lang] = runtime;
      },

      setupEditor(e) {
        for (var i=0; i<this.buttons.length; i++) {
          var b = this.buttons[i];
          $("<button></button>")
            .addClass("run")
            .data(b.args)
            .html(b.label)
            .appendTo($(e).find(".controls"));
        }
      }
    };
  </script>

  <script type="text/javascript" src="../../course.js"></script>

  <script type="text/javascript">
  const CODEMIRROR_OPTIONS = {
      lineNumbers: true,
      keyMap: "sublime",
      matchBrackets: true,
      indentWithTabs: false,
      tabSize: 4,
      indentUnit: 4,
      extraKeys: {
        Tab: (cm) => {
          cm.somethingSelected()
          ? cm.execCommand('indentMore')
          : cm.execCommand('insertSoftTab');
        }
      }
    }

    $(function() {
      var editorLookup = {};

      function setupRun(livecodeElement, codemirror) {
        var lang = $(livecodeElement).find("code").attr("class").replace("language-", "");
        var runtime = livecode.getRuntime(lang);
        var server = "http://localhost:8010";
        var url = `${server}/runtimes/${runtime}`;

        $(livecodeElement).find(".run").on('click', function() {
          var code = codemirror.doc.getValue();
          var mode = $(this).data("mode") || "exec";

          fetch(url, {
            method: "POST",
            body: code,
            headers: {'x-falcon-mode': mode}
          })
          .then(response => response.text())
          .then(output => {
            $(livecodeElement).find(".output").text(output);
          });
        });
      }

      $("pre.example").each((i, e) => {
        var code = $(e).text();

        var template = document.querySelector('#livecode-template');
        var clone = template.content.cloneNode(true);

        $(e)
        .wrap('<div></div>')
        .hide()
        .parent()
        .append(clone)
        .find("textarea.code")
        .val(code);

        var languageClass = $(e).find("code").attr("class");
        var language = null;
        if (languageClass) {
          language = languageClass.replace("language-", "");
        }

        var modeMapping = {
          golang: "go"
        };
        var mode = language in modeMapping ? modeMapping[language]: language;

        var textarea = $(e).parent().find("textarea.code")[0];

        var options = {...CODEMIRROR_OPTIONS, mode: mode};
        var codemirror = CodeMirror.fromTextArea(textarea, options);

        livecode.setupEditor($(e).parent());
        setupRun($(e).parent(), codemirror);
      });
    });
</script>

{% endblock %}
