.CodeMirror {
    border: 1px solid #ddd;
    background: #ffe;
    height: auto;
}
.CodeMirror-scroll {
    max-height: 300px;
    min-height: 208px;
}
.controls {
    padding: 10px 0px;
}
.code-wrapper {
    min-height: 200px;
}

.clearfix {
  clear: both;
}

.livecode-editor {
  margin: 20px 0px;
  clear: both;
}

.code-wrapper {
    min-width: 300px;
    flex: 1;
}
.output-wrapper {
  padding: 5px 20px;
  border: 1px solid #eee;
}

button {
  cursor: pointer;
  background: #eee;
  border: 1px solid #ddd;
  padding: 5px 10px;
}

.output {
  overflow-x: auto;
  /* width: 200px; */
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 0.8em;
}

header {
  z-index: 10 !important;
}

.hidden {
  display: none;
}

.code-editor {
  clear: both;
}
.code-editor .preview-label {
  font-weight: bold;
  padding: 0px 10px;
  background: #eee;
}
.code-editor iframe {
  padding: 20px;
  border: 1px solid #eee;
  width: 100%;
}

.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabs button, .file-link {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
}

.tabs button:hover, .file-link:hover {
  background-color: #ddd;
}

.tabs button.active, .file-link.active {
  background-color: #ccc;
}

.filenames {
  clear: both;
}

.livecode-editor .labels {
  float: right;
  padding: 2px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #ffe;
}